@import '../../style/mixins';

.cart {
	margin-top: 160px;
	&__title {
		font-size: 32px;
		color: #1D1F22;
		font-weight: 700;
		margin-bottom: 55px;
	}
	&__checkout {
		margin-top: 32px;
		width: 280px;
		height: 160px;
		font-size: 24px;
		line-height: 28px;
		font-weight: 400;
		span {
			font-weight: 700;
		}
	}
	&__tax, &__total, &__quantity {
		margin-top: 8px;
	}
	&__total {
		font-weight: 500;
	}
	&__order {
		margin-top: 16px;
		width: 100%;
		height: 43px;
		background: #5ECE7B;
		border: none;
		color: #fff;
		font-weight: 600;
		cursor: pointer;
	}
}

.cart-item {
	display: flex;
	justify-content: space-between;
	padding: 24px 0 24px 0;
	border-bottom: 1px solid #E5E5E5;
	user-select: none;
	&:first-child {
		border-top: 1px solid #E5E5E5;
	}
	&__info {
		width: 400px;
		& .details {
			&__attributes {
				margin-top: 4px;
			}
			&__header {
				padding-top: 16px;
			}
		}
	}
	&__gallery {
		display: flex;
		height: 288px;
		width: 269px;
		align-items: center;
		justify-content: space-between;
		align-self: center;
	}
	&__quantity {
		height: 100%;
		width: 45px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		user-select: none;
		&-plus {
			position: relative;
			width: 44px;
			height: 44px;
			border: 1px solid black;
			@include plus;
			cursor: pointer;
			// user-select: none;
		}
		&-minus {
			position: relative;
			width: 45px;
			height: 45px;
			border: 1px solid black;
			@include minus;
			cursor: pointer;
			// user-select: none;
		}
		&-num {
			margin: 0 auto;
			font-size: 24px;
		}
	}
	&__slider {
		position: relative;
		width: 200px;
		height: 288px;
	}
	&__wrapper {
		overflow: hidden;
	}
	&__field {
		display: grid;
		transition: all 0.3s;
		grid-template: 288px / 200px;
		grid-auto-columns: 200px;
		grid-auto-flow: column;
	}
	&__picture {
		display: flex;
		max-height: 288px;
		align-items: center;
		user-select: none;
		img {
			max-height: 100%;
			width: 100%;			
			object-fit: cover;
		}
	}
	&__arrows {
		bottom: 16px;
		right: 16px;
		position: absolute;
		display: flex;
		width: 56px;
		justify-content: space-between;
		user-select: none;
	}
	&__arrow {
		display: flex;
		width: 24px;
		height: 24px;
		background-color: #000;
		opacity: 0.7;
		align-items: center;
		justify-items: center;
		cursor: pointer;
	}
}